@charset "utf-8";
html { scroll-behavior: smooth;}

/* common */

body{
  margin: 0;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
}

h1{
  margin: 0;
  font-size: 0;
  font-weight: normal;
}

h2{
  margin: 0;
  font-weight: bold;
  font-size: 28px;
  letter-spacing: .5px;
  color: #194374;
}

h3{
  margin: 16px 0 0;
  font-weight: bold;
  font-size: 28px;
  letter-spacing: .5px;
  color: #194374;
}

h4{
  margin: 8px 0 0;
  font-weight: bold;
  font-size: 20px;
  color: #194374;
}

p{
  margin: 0;
  line-height: 1.8;
  padding: 8px 16px;
}

img{
  vertical-align: bottom;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

section{
  max-width: 1280px;
  margin: 0 auto;
  padding: 64px 16px;
  box-sizing: border-box;
  text-align: center;
}

.container{
  margin-top: 32px;
  opacity: 0;
  transform: translateY(50px);
  transition: 2s;
}

.container.fadein{
  opacity: 1;
  transform: translateY(0);
}

.wrapper{
  text-align: left;
}

.wrapper img{
  width: 100%;
  height: auto;
}

/* header */

header{
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: white;
  z-index: 5;
}

.header{
  margin: 0 auto;
  max-width: 1120px;
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header a{
  display: block;
  text-decoration: none;
  width: 120px;
  height: 48px;
  line-height: 48px;
  font-size: 14px;
  text-align: center;
  border-radius: 32px;
  color: white;
  background: skyblue;
}

header a:hover{
  opacity: .8;
}

/* hero */

.hero-2{
  display: block;
  margin: 80px auto 0;
  width: 100%;
  height: auto;
}

.hero-1{
  display: none;
}

/* check */
#check{
  margin-top: 48px;
  padding: 32px 16px;
  text-align: center;
  background-image: url(img/office.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 40%;
}

#check h2{
  display: inline-block;
  padding: 8px 16px;
  background: rgba(255, 255, 255, .7);
}

#check li{
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-top: 16px;
}

/* catch */

#catch{
  background: rgb(235, 249, 255);
}

.catch{
  max-width: 1120px;
}

#catch .demerit-inner{
  margin-top: 48px;
}

#catch .demerit-inner img{
  height: 400px;
  object-fit: cover;
}

#catch .demerit-inner .container{
  background: white;
}

#catch .demerit-inner .wrapper-text{
  padding: 16px;
}

#catch .demerit-inner .container + .container {
  margin-top: 32px;
}


/* main */
#main{
  background-image: url(img/背景-1.png);
  background-repeat: no-repeat;
  background-position: top;
}

.main{
  max-width: 1120px;
}

.main-pic{
  max-width: 800px;
  width: 100%;
  height: auto;
}

#main .review{
  margin-top: 48px;
}

#main .title{
  display: flex;
  align-items: center;
  gap: 32px;
  max-width: 600px;
  padding: 16px 32px;
  box-sizing: border-box;
  margin: 16px auto 0;
  border: 1px solid black;
  box-shadow: 8px 8px #ddd;
}

#main .title h4{
  font-size: 20px;
}

#main .title img{
  width: 30%;
}

#main .video-h4{
  margin-top: 64px;
  color: white;
  background: #194374;
  padding: 8px;
}

#main video{
  width: 100%;
  height: auto;
}

/* merit */
#merit{
  background: rgb(74, 130, 163);
  background-image: url(img/背景-3.png);
  background-repeat: no-repeat;
  background-position: top;
  color: white;
}

#merit h3{
  color: white;
}

#merit h4{
  color: rgb(255, 255, 144);
}

#merit .wrapper{
  margin-top: 32px;
}

/* sub */
#sub{
  background-image: url(img/背景-2.png);
  background-repeat: no-repeat;
  background-position: top;
}

#sub .wrapper{
  text-align: center;
  margin-top: 16px;
}

/* processes */
#processes{
  background: rgb(235, 249, 255);
  background-image: url(img/背景-3.png);
  background-repeat: no-repeat;
  background-position: top;
}

.process{
  margin: 32px auto 0;
  background: white;
  padding: 16px;
  box-sizing: border-box;
}

.processpic{
  width: 100%;
  height: auto;
}

.process .title{
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 8px;
}

.process .title img{
  width: 25%;
  height: auto;
}

.process .title h4{
  font-size: 24px;
}

/* execution */
#execution{
  background-image: url(img/背景-1.png);
  background-repeat: no-repeat;
  background-position: top;
  box-sizing: border-box;
}

#execution .title{
  display: flex;
  align-items: center;
  gap: 32px;
  max-width: 600px;
  padding: 16px 32px;
  box-sizing: border-box;
  margin: 32px auto 0;
  border: 1px solid black;
  box-shadow: 8px 8px #ddd;
}

#execution .title h4{
  font-size: 20px;
}

/* inquiry */
#inquiry{
  background: rgb(74, 130, 163);
  background-image: url(img/背景-3.png);
  background-repeat: no-repeat;
  background-position: top;
  box-sizing: border-box;
  padding: 64px 16px;
}

#inquiry .form {
  max-width: 800px;
  margin: 32px auto 0;
  padding: 64px 16px;
  display: block;
  background: white;
}

#inquiry .form-btn{
  margin: 16px auto 0;
  display: block;
  text-decoration: none;
  width: 360px;
  height: 80px;
  line-height: 80px;
  font-size: 28px;
  text-align: center;
  border: none;
  border-radius: 48px;
  color: white;
  background: skyblue;
}

#inquiry .tel-btn{
  margin: 16px auto 0;
  display: block;
  text-decoration: none;
  width: 240px;
  height: 64px;
  line-height: 64px;
  font-size: 28px;
  text-align: center;
  border: none;
  border-radius: 32px;
  color: white;
  background: skyblue;
}

#inquiry h4{
  margin-top: 64px;
}

#inquiry a:hover{
  opacity: .8;
}

/* company */

#company{
  background: rgb(74, 130, 163);
  color: white;
  padding: 64px 8px;
  text-align: center;
}

#company h3{
  color: white;
}

#company table{
  margin: 32px auto 0;
  padding: 2px;
  text-align: left;
}

/* footer */

footer{
  text-align: center;
  padding: 64px;
}

footer a{
  position: fixed;
  right: 16px;
  bottom: 16px;
  text-decoration: none;
  color: white;
  background: skyblue;
  border-radius: 32px;
  width: 80px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  opacity: 0;
  transition: 1s;
}

footer a.fade{
  opacity: 1;
}



@media (min-width: 600px){
  /* common */

  h2{
    font-size: 36px;
    line-height: 1.8;
    letter-spacing: 1px;
  }

  h3{
    font-size: 36px;
    line-height: 1.8;
    letter-spacing: 1px;
  }

  h4{
    font-size: 24px;
  }

  .container{
    display: flex;
    gap: 32px;
    align-items: start;
  }

  .wrapper{
    flex: 1;
  }
  /* header */
  
  header a{
    width: 140px;
    font-size: 16px;
    border-radius: 16px;
  }

  /* hero */
  
  .hero-2{
    display: none;
  }
  
  .hero-1{
    display: block;
    margin: 80px auto 0;
    max-width: 1280px;
    width: 100%;
    height: auto;
  }

  
}