@charset "utf-8";
html { scroll-behavior: smooth;}

/* common */

body{
  margin: 0;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
}

h1{
  margin: 0;
  font-size: 0;
  font-weight: normal;
}

h2{
  margin: 0;
  font-weight: bold;
  font-size: 28px;
  letter-spacing: .5px;
  color: #002079;
}

h3{
  margin: 16px 0 0;
  font-weight: bold;
  font-size: 28px;
  letter-spacing: .5px;
  color: #002079;
}

.under{
  position: relative;
  display: inline-block;
}

.under:before{
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  z-index: -1;
  width: 100%;
  height: 16px;
  background: rgb(255, 255, 144);
}

h4{
  margin: 8px 0 0;
  font-weight: bold;
  font-size: 20px;
  color: #002079;
}

p{
  margin: 8px 0 0;
  line-height: 1.8;
}

img{
  vertical-align: bottom;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

section{
  max-width: 1280px;
  margin: 0 auto;
  padding: 64px 16px;
  box-sizing: border-box;
  opacity: 0;
  transform: translateY(50px);
  transition: 1s;
}

section.fadein{
  text-align: center;
  opacity: 1;
  transform: translateY(0);
}


.container{
  margin-top: 32px;
}

.wrapper{
  text-align: left;
}

.wrapper img{
  width: 100%;
  height: auto;
}

/* header */

header{
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: white;
  z-index: 5;
}

.header{
  margin: 0 auto;
  max-width: 1120px;
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header a{
  display: block;
  text-decoration: none;
  width: 120px;
  height: 48px;
  line-height: 48px;
  font-size: 14px;
  text-align: center;
  border-radius: 16px;
  color: white;
  background: skyblue;
}

header a:hover{
  opacity: .8;
}

/* hero */

.hero-1{
  display: block;
  margin: 80px auto 0;
  max-width: 1280px;
  width: 100%;
  height: auto;
}

/* check */
#check{
  margin-top: 64px;
  padding: 32px 16px;
  text-align: center;
  background-image: url(img/office.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 40%;
}

#check h2{
  display: inline-block;
  padding: 8px 16px;
  background: rgba(255, 255, 255, .7);
}

#check li{
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-top: 16px;
}

/* catch */

#catch{
  background: rgb(235, 249, 255);
}

.catch{
  max-width: 960px;
}

#catch .demerit-inner{
  margin-top: 32px;
}

#catch .demerit-inner .container{
  background: white;
}

#catch .demerit-inner .container + .container {
  margin-top: 32px;
}

/* main */
#main{
  background-image: url(img/背景-1.png);
  background-repeat: no-repeat;
  background-position: top;
}

.main{
  max-width: 800px;
}

.main img{
  width: 100%;
  height: auto;
}

.main video{
  width: 100%;
  height: auto;
}

/* merit */
#merit{
  background: rgb(74, 130, 163);
  background-image: url(img/背景-3.png);
  background-repeat: no-repeat;
  background-position: top;
  color: white;
}

#merit h3{
  color: white;
}

#merit h4{
  color: rgb(255, 255, 144);
}

#merit .wrapper{
  margin-top: 32px;
}

/* sub */
#sub{
  background-image: url(img/背景-2.png);
  background-repeat: no-repeat;
  background-position: top;
}

#sub .wrapper{
  text-align: center;
  margin-top: 16px;
}

/* processes */
#processes{
  background: rgb(235, 249, 255);
  background-image: url(img/背景-3.png);
  background-repeat: no-repeat;
  background-position: top;
}

.process{
  margin: 32px auto 0;
  background: white;
  padding: 16px;
  box-sizing: border-box;
}

.processpic{
  width: 100%;
  height: auto;
}

.process .title{
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 8px;
}

.title img{
  width: 25%;
  height: auto;
}

.title h4{
  font-size: 24px;
}

/* inquiry */
#inquiry{
  background: rgb(74, 130, 163);
  background-image: url(img/背景-1.png);
  background-repeat: no-repeat;
  background-position: top;
  box-sizing: border-box;
  padding: 64px 16px;
}

#inquiry .form {
  max-width: 800px;
  margin: 32px auto 0;
  padding: 64px 16px;
  display: block;
  background: white;
}

#inquiry table{
  margin: 32px auto 0;
  text-align: left;
  max-width: 640px;
  width: 100%;
}

#inquiry th, #inquiry td{
  padding: 4px;
}

#inquiry .req{
  color: red;
}

#inquiry input[type=text], input[type=email], #inquiry textarea{
  width: 100%;
  line-height: 1.5;
}

#inquiry input[type=number] {
  width: 32px;
  line-height: 1.5;
}

#inquiry .btn{
  margin: 16px auto 0;
  display: block;
  text-decoration: none;
  width: 100px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  border: none;
  border-radius: 16px;
  color: white;
  background: skyblue;
}

.btn:hover{
  opacity: .8;
}


#inquiry a{
  margin: 16px auto 0;
  display: block;
  text-decoration: none;
  width: 240px;
  height: 64px;
  line-height: 64px;
  font-size: 28px;
  text-align: center;
  border: none;
  border-radius: 32px;
  color: white;
  background: skyblue;
}

#inquiry h4{
  margin-top: 64px;
}

#inquiry a:hover{
  opacity: .8;
}

/* company */

#company{
  background: rgb(74, 130, 163);
  color: white;
  padding: 64px 8px;
  text-align: center;
}

#company h3{
  color: white;
}

#company table{
  margin: 32px auto 0;
  padding: 2px;
  text-align: left;
}

/* footer */
footer{
  text-align: center;
  padding: 64px;
}



@media (min-width: 600px){
  /* common */

  h2{
    font-size: 36px;
    line-height: 1.8;
    letter-spacing: 1px;
  }

  h3{
    font-size: 36px;
    line-height: 1.8;
    letter-spacing: 1px;
  }

  h4{
    font-size: 24px;
  }

  .container{
    display: flex;
    gap: 32px;
    align-items: start;
  }

  .wrapper{
    flex: 1;
  }
  /* header */
  
  header a{
    width: 140px;
    font-size: 16px;
    border-radius: 16px;
  }


  

  
}